################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.vsidx
/msapp1/.vs/msapp1/FileContentIndex
